[defaults]
roles_path = /etc/ansible/roles
log_path = /etc/ansible/log
record_host_keys = True
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
control_path = %(directory)s/ansible-ssh-%%h-%%p-%%r
