[defaults]
roles_path = /etc/ansible/roles
log_path = /etc/ansible/log
[ssh_connection]
pipelining = True
control_path = %(directory)s/ansible-ssh-%%h-%%p-%%r
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
